{{ define "main" }}
  <article class="markdown book-article">
    {{ .Content }}
    <ul class="book-articles-list">
      {{ range .Pages.ByTitle }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ with .Description }} &mdash; {{ . }}{{ end }}
        </li>
      {{ end }}
    </ul>
  </article>
{{ end }}

{{ define "toc-container" }}
<aside class="book-toc">
  <div class="book-toc-content">
    {{ template "toc" . }}
  </div>
</aside>
{{ end }}

{{ define "toc" }}
<nav>
  <ul>
    {{ with .Site.GetPage "/pagetags" }}
    <li class="book-section-flat">
      <a>{{ partial "docs/text/i18n" "Tags" }}</a>
      <ul>
      {{ range .Pages.ByTitle }}
        <li class="flex align-center">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span>{{ len .Pages }}</span>
        </li>
      {{ end }}
      </ul>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
